/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Roboto+Condensed&display=swap');

:root {
    /* Font Family */
    --font-1: 'Josefin Sans', sans-serif;
    --font-2: 'Roboto Condensed', sans-serif;

    /* Font Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    /* Font Size */
    --font-scale-ratio: 1;
    --fs-basic: calc(16px * var(--font-scale-ratio));

    --fs-xsm: calc(.8 * var(--fs-basic));
    --fs-sm: calc(.9 * var(--fs-basic));
    --fs: var(--fs-basic);
    --fs-md: calc(1.2 * var(--fs-basic));
    --fs-lg: calc(1.6 * var(--fs-basic));
    --fs-xlg: calc(2.2 * var(--fs-basic));
    --fs-xxlg: calc(2.8 * var(--fs-basic));
    --fs-display-1: calc(4 * var(--fs-basic));
    --fs-display-2: calc(5 * var(--fs-basic));
    --fs-display-3: calc(6 * var(--fs-basic));

    /* Colors */
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 95%);
    --blue: hsl(204, 46%, 33%);

    /* Space */
    --space-scale-ratio: 1;
    --space: calc(3rem * var(--space-scale-ratio));

    --space-0_25: calc(0.25 * var(--space));
    --space-0_5: calc(0.5 * var(--space));
    --space-0_75: calc(0.75 * var(--space));
    --space-1: var(--space);
    --space-1_5: calc(1.5 * var(--space));
    --space-2: calc(2 * var(--space));
    --space-2_5: calc(2.5 * var(--space));
    --space-3: calc(3 * var(--space));
    --space-3_5: calc(3.5 * var(--space));
    --space-4: calc(4 * var(--space));
}

/* Base style */
html{
    box-sizing: border-box;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html, body {
    font-family: var(--font-1);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 1px;
}
html {
    background: var(--white);
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--white);
}
img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.section-space {
    padding-top: var(--space-1_5);
    padding-bottom: var(--space-1_5);
}

/* Animation */
.animation-top, .animation-hero {
    opacity: 0;
    transform: translateY(100px);
    transition: transform .8s ease, opacity .8s ease;
}
.animation-hero:first-child {
    transition-delay: .4s;
}
.animation-hero:nth-child(2) {
    transition-delay: .6s;
}
.animation-hero:nth-child(3) {
    transition-delay: .8s;
}
.animationShow {
    opacity: 1;
    transform: translateY(0px);
}

/* Splidejs */
.splide__track {
    padding-bottom: 3rem;
}
.splide__pagination__page {
    background: var(--blue);
    margin: 0 .6rem;
}
.splide__pagination__page.is-active {
    background: var(--blue);
    opacity: 1;
}