/* Typography */
h1 {
    font-family: var(--font-1);
    font-weight: var(--fw-light);
    font-size: clamp(1.2rem, 5vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 1;
}
h2 {
    font-family: var(--font-1);
    font-size: clamp(1.6rem, 5vw, 2.6rem);
    font-weight: var(--fw-semi-bo6ld);
    text-transform: uppercase;
    letter-spacing: 6px;
}
h3 {
    font-size: var(--fs-xlg);
}
.lead{
    font-family: var(--font-2);
    letter-spacing: 1px;
    font-size: var(--fs-xlg)
}

/* Loader */
.loader {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--black);
    transition: all 1s ease;
}
.loader img {
    width: 40px;
    margin-bottom: 3rem;
    animation: loader 1.6s linear infinite;
}
.loader.loaded {
    opacity: 0;
    transition: opacity .5s ease;
}
@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/* Page */
/* .page {
    opacity: 0;
} */
.page.loaded {
    background: var(--black);
    opacity: 1;
    transition: opacity 8s ease 1.5s;
}

/* Header */
.header {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: var(--black); */
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background: blue; */
}
@media screen and (min-width: 660px) {
    .header .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
/* Logo */
.logo img {
    width: 20px;
    transform: translateY(4px);
}
/* Navigation */
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: cyan; */
}
.nav ul li {
    text-align: center;
    line-height: .6;
    margin-left: .8rem;
    /* background: cyan; */
    /* transition: all 1s ease; */
}
.nav ul li a {
    text-transform: uppercase;
    font-size: .5rem;
    font-weight: var(--fw-light);
    letter-spacing: 1px;
    /* transition: all 1s ease; */
}
@media screen and (min-width:660px) {
    .nav ul li {
        margin-left: 2rem;
    }
    .nav ul li a {
        font-size: 1rem;
    }
}

/* Hero */
.hero {
    min-height: 700px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background: url(../images/hero.jpg) no-repeat center center / cover;
}
.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
}
.hero .container {
    z-index: 1;
    padding: 0;
}
/* .hero .container {
    background: cyan;
}*/
.hero h1 img {
    width: 16px;
    margin-right: .6rem;
    transform: translateY(2px);
}
.hero h1 {
    text-align: center;
    margin-bottom: var(--space-2);
}
@media screen and (min-width:660px) {
    .hero h1 img {
        width: 30px;
        margin-right: 1.2rem;
    }
    .hero h1 {
        margin-bottom: var(--space-3);
    }
}
.hero .social-icon {
    text-align: center;
}
.hero .social-icon img{
    width: 40px;
    margin: 0 .5rem;
    transition: transform .6s ease;
}
@media screen and (hover:hover) {
    .hero .social-icon a:hover img{
        transform: translateY(-5px);
    }
}

/* Our Mission */
.mission {
    background: var(--white);
    color: var(--black);
    padding: var(--space-1_5) 0;
}
.mission .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mission .title {
    text-align: center;
}
.mission .title p {
    font-size: var(--fs-sm);
    font-weight: var(--fw-light);
    letter-spacing: 3px;
}
.mission .geometric-shape {
    width: 20px;
    padding: var(--space-1) 0;
}
.mission .content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.mission .img-content {
    display: none;
    width: 50%;
    height: auto;
    background: url(../images/about.jpg) no-repeat center center / cover;
}
.mission .text-content {
    display: flex;
    flex-direction: column;
}
.mission .text-content p {
    font-family: var(--font-2);
    text-align: justify;
    font-size: var(--fs-basic);
    font-weight: var(--fw-light);
    line-height: 2;
    letter-spacing: 1px;
}
.mission .text-content p:nth-child(2) {
    margin-top: var(--space-0_75);
    margin-bottom: var(--space-1);
    color: rgb(99, 99, 99);
}
.mission .btn {
    background: var(--blue);
    text-transform: uppercase;
    color:var(--white);
    font-size: .8rem;
    font-weight: var(--fw-light);
    padding: .6rem 3rem;
    text-align: center;
    letter-spacing: 3px;
}
/* Media Mission */
@media screen and (min-width: 660px) {
    .mission .img-content {
        display: block;
    }
    .mission .text-content {
        width: 50%;
    }
    .mission .text-content p {
        width: 90%;
    }
}

/* Features */
.features {
    padding: var(--space-1_5) 0;
}
.features .title {
    display: flex;
    align-items: center;
}
.features .geometric-shape {
    width: 25px;
    margin-right: 1rem;
    transform: translateY(-4px);
}
.features-img {
    position: relative;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-1);
    margin-bottom: var(--space-0_75);
}
.features span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: var(--fs-md);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1;
}
.features .text-content {
    font-family: var(--font-2);
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1px;
}
.market p:first-child{
    margin-bottom: var(--space-1);
}
.market p:last-child{
    color: rgb(145, 145, 145);
}
/* Media Features */
@media screen and (min-width: 660px) {
    .market, .innovation, .cooperation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .features-img {
        margin-left: 0;
        margin-right: 0;
        width: 35%;
    }
    .features span {
        font-size: var(--fs-lg);
    }
    .features .text-content {
        width: 50%;
        text-align: right;
        font-size: var(--fs-md);
    }
    .innovation .text-content {
        order: 1;
        text-align: left;
    }
    .innovation .features-img {
        order: 2;
    }
}

/* Contact */
.contact {
    padding: var(--space-1_5) 0;
    background: var(--white);
    color: var(--black);
    text-align: center;
}
.contact .title {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-1);
}
.contact .geometric-shape {
    width: 25px;
    margin-right: 1rem;
    transform: translateY(-4px);
}
.name {
    /* line-height: 0.1; */
    background: var(--blue);
    color: var(--white);
    padding: 1rem;
}

/* Media Root */
@media screen and (min-width: 660px) {
    :root{
        --font-scale-ratio: .8;
    }
}
@media screen and (min-width: 1000px) {
    :root{
        --font-scale-ratio: 1;
        --space-scale-ratio: 1.2;
    }
}
/* @media screen and (max-width: 480px) {
    :root{
        --font-scale-ratio: .4;
    }
} */