/* Typography */
h1 {
    font-family: var(--font-1);
    font-weight: var(--fw-light);
    font-size: clamp(1.2rem, 5vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 1;
}
h2 {
    font-family: var(--font-1);
    font-size: clamp(1.6rem, 5vw, 2.6rem);
    font-weight: var(--fw-semi-bo6ld);
    text-transform: uppercase;
    letter-spacing: 6px;
}
h3 {
    font-size: var(--fs-xlg);
}
.lead{
    font-family: var(--font-2);
    letter-spacing: 1px;
    font-size: var(--fs-xlg)
}

/* Loader */
.loader {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    transition: all 1s ease;
}
.loader img {
    width: 40px;
    margin-bottom: 3rem;
    animation: loader 1.6s linear infinite;
}
.loader.loaded {
    opacity: 0;
    transition: opacity .5s ease;
}
@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/* Page */
.page {
    opacity: 0;
}
.page.loaded {
    background-color: var(--black);
    opacity: 1;
    transition: opacity 2s ease .4s;
}

/* Header */
.header {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
}
.header.scrolled {
    background-color: var(--white);
}
.header.scrolled a {
    color: var(--black);
}
.header.offset {
    top: -60px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/* Logo */
.logo img {
    width: 20px;
    transform: translateY(4px);
}
/* Navigation */
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li {
    text-align: center;
    line-height: .6;
    margin-left: .8rem;
}
.nav ul li a {
    text-transform: uppercase;
    font-size: .5rem;
    font-weight: var(--fw-light);
    letter-spacing: 1px;
}
@media screen and (min-width:660px) {
    .nav ul li {
        margin-left: 2rem;
    }
    .nav ul li a {
        font-size: .6rem;
    }
}
@media screen and (min-width:1000px) {
    .nav ul li a {
        font-size: .8rem;
    }
}

/* Hero */
.hero {
    min-height: 700px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background: url(../images/hero.jpg) no-repeat center center / cover;
}
.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}
.hero .container {
    z-index: 1;
    padding: 0;
}
h1 img {
    width: 16px;
    margin-right: .6rem;
    transform: translateY(2px);
}
h1 {
    text-align: center;
    margin-bottom: var(--space-2);
}
@media screen and (min-width:660px) {
    h1 img {
        width: 30px;
        margin-right: 1.2rem;
    }
    .hero h1 {
        margin-bottom: var(--space-3);
    }
}
.social-icon {
    text-align: center;
}
.social-icon img{
    width: 40px;
    margin: 0 .5rem;
    transition: transform .6s ease;
}
@media screen and (hover:hover) {
    .social-icon a:hover img{
        transform: translateY(-5px);
    }
}

/* Our Mission */
.mission {
    background-color: var(--white);
    color: var(--black);
    padding: var(--space-1_5) 0;
}
.mission .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mission .title {
    text-align: center;
}
.mission .title p {
    font-size: var(--fs-sm);
    font-weight: var(--fw-light);
    letter-spacing: 3px;
}
.mission .geometric-shape {
    width: 20px;
    padding: var(--space-1) 0;
}
.mission .content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.mission .img-content {
    display: none;
    width: 50%;
    height: auto;
    background: url(../images/about.jpg) no-repeat center center / cover;
}
.mission .text-content {
    display: flex;
    flex-direction: column;
}
.mission .text-content p {
    font-family: var(--font-2);
    text-align: justify;
    font-size: var(--fs-basic);
    font-weight: var(--fw-light);
    line-height: 2;
    letter-spacing: 1px;
}
.mission .text-content p:nth-child(2) {
    margin-top: var(--space-0_75);
    margin-bottom: var(--space-1);
    color: rgb(99, 99, 99);
}
.mission .btn {
    background-color: var(--blue);
    text-transform: uppercase;
    color:var(--white);
    font-size: .8rem;
    font-weight: var(--fw-light);
    padding: .6rem 3rem;
    text-align: center;
    letter-spacing: 3px;
}
/* Media Mission */
@media screen and (min-width: 660px) {
    .mission .img-content {
        display: block;
    }
    .mission .text-content {
        width: 50%;
    }
    .mission .text-content p {
        width: 90%;
    }
}

/* Features */
.features {
    padding: var(--space-1_5) 0;
    background-color: var(--black);
}
.features .title {
    display: flex;
    align-items: center;
}
.features .geometric-shape {
    width: 25px;
    margin-right: 1rem;
    transform: translateY(-4px);
}
.features-img {
    position: relative;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-1);
    margin-bottom: var(--space-0_75);
}
.features span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: var(--fs-md);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1;
}
.features .text-content {
    font-family: var(--font-2);
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1px;
}
.market p:first-child{
    margin-bottom: var(--space-1);
}
.market p:last-child{
    color: rgb(145, 145, 145);
}
/* Media Features */
@media screen and (min-width: 660px) {
    .market, .innovation, .cooperation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .features-img {
        margin-left: 0;
        margin-right: 0;
        width: 35%;
    }
    .features span {
        font-size: var(--fs-lg);
    }
    .features .text-content {
        width: 50%;
        text-align: right;
        font-size: var(--fs-md);
    }
    .innovation .text-content {
        order: 1;
        text-align: left;
    }
    .innovation .features-img {
        order: 2;
    }
}

/* Contact */
.contact {
    padding: var(--space-1_5) 0;
    background-color: var(--white);
    color: var(--black);
    font-size: var(--fs-sm);
}
.contact .title {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-1);
}
.contact .geometric-shape {
    width: 25px;
    margin-right: 1rem;
    transform: translateY(-4px);
}
.workers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}
.worker-data {
    margin-bottom: .4rem;
}
.worker-data img{
    width: 280px;
    height: 300px;
    object-fit: cover;
}
.name {
    background-color: var(--blue);
    color: var(--white);
    padding: .4rem;
}
.profession {
    color: var(--blue);
}
.worker-contact {
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-light);
}
.worker-contact span {
    line-height: 2;
    color: var(--black);
}
.contact-info {
    text-align: center;
    font-weight: var(--fw-light);
}
.contact-info-title {
    color: var(--blue);
    margin: var(--space-1) 0;
}
.contact-info p{
    font-weight: var(--fw-light);
}

/* Section Contact */
.section-contact {
    background-color: var(--black);
    padding: var(--space-2) 0;
    text-align: center;
}
.section-contact p {
    font-family: var(--font-2);
    font-size: var(--fs-md);
    line-height: 1.7;
}
.section-contact .social-icon {
    margin: var(--space-1_5) 0;
}
.section-contact > a {
    text-transform: uppercase;
    font-size: var(--fs-xsm);
    letter-spacing: 2px;
}

/* Footer */
.footer {
    background-color: var(--blue);
    text-align: center;
    padding: .4rem 0;
    padding: var(--space-0_25) 0;
    font-size: var(--fs-xsm);
    font-weight: var(--fw-light);
    letter-spacing: 1px;
}
.footer a {
    border-bottom: 1px solid var(--white);
}

/* Media Root font and space scale */
@media screen and (min-width: 660px) {
    :root{
        --font-scale-ratio: .8;
    }
}
@media screen and (min-width: 1000px) {
    :root{
        --font-scale-ratio: 1;
        --space-scale-ratio: 1.2;
    }
}
@media screen and (min-width: 1200px) {
    :root{
        --space-scale-ratio: 1.5;
    }
}